@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

a {
    color: #ffff;
    text-decoration: none;
}

.activeSVG {
    transform: rotate(-30deg);
    margin-right: 8px;
}

.container {
    width: 100%;
    position: relative;
}

.controls {
    position: absolute;
    bottom: 34%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    margin: 0 120px 0 120px;
    z-index: 10;
    top: 29%;
}

.slider-inner {

    padding: 3px;
}

.active-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    position: absolute;
    right: 12%;
    top: 85%;
}

.hero-text {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #234AC1;
    width: 45%;
    margin-inline-start: 30px;
    position: absolute;
    top: 40%;

}

.hero-block {
    height: 100px;
    background-color: black;
    width: 45%;
    margin-inline-start: auto;
    margin-inline-end: 30px;
    position: absolute;
    z-index: -5;
    top: 40%;
    right: -0;

}

.hero-text h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-inline-start: 210px;
}

.slider-inner img {
    display: none;
    margin: auto;
    width: 80%;
    height: 450px;
}

.slider-inner img.active {
    display: block;
    width: 80%;
    height: 550px;
}

.prev,
.next {
    cursor: pointer;
}

.prev {
    z-index: 100;
}

.next {
    z-index: 100;
}

.nav {
    width: 78%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.burger {
    margin-right: 20px;
}

svg {
    padding-top: 3vh;
    margin: auto 0 auto 0;
}

.logo {
    height: 12vh;
    width: auto;
}

.sub-text {
    width: 45%;
    height: 222px;
    font-size: 18px;
    font-size: larger;
    font-weight: 300;
}

.sub-hero {
    padding: 0 28px 0 28px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.box-sponsor {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 180px;
    background-color: #061B2C;
}

#sm-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 27px;
    background-color: #234AC1;
    color: white;
    font-weight: 600;
    padding: 0 9px 0 9px;
}

.container1 {
    width: 380px;
    gap: 20px;
    display: flex;
}

.abt-content {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: center;

}

h3 {
    color: white;
    font-weight: 500;
    margin-left: 33px;
    font-size: 24px;
}

.text {
    margin: 0;
    font-size: 9.6px;
}

.arrow {
    margin: 0;
    padding: 0;
}

.arrow1 {
    margin-left: 33px;
}

@media screen and (max-width: 400px) {
    
    .image-block {
        display: none;
    }

    .sub-text {
        justify-content: start;
        width: auto;
        height: auto;
    }

    .controls{
        right: -18%;
    }
    .slider-inner img.active {
        width: 80%;
        height: 300px;
    }


}

@media screen and (max-width: 800px) {
    .sub-hero{
        flex-direction: column;
    }
    .sub-text{
        width: 100vh;
        height: auto;
    }
    svg{
        padding-top: 0;
    }
    .image-block{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
    }
    .controls{
        bottom: 30%;
    }
    .box-sponsor {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 180px;
        background-color: #061B2C;
    }
}

@media screen and (max-width: 450px){
    .image-block{
        display: none;
    }
    .controls{
        right: -18%;
    }
}

@media screen and (max-width: 850px){
    .hero-text h1 {
        font-size: 18px;
        margin-inline-start: 60px;
    }
}

@media screen and (max-width: 300px){
    h3{
        margin-left: 70px;
    }
    .arrow1 {
        margin-left: 70px;
    }

    .text {
        margin-left: 50px;
    }
    .hero-text h1 {
        font-size: 18px;
        margin-inline-start: 20px;
    }
    .controls{
        bottom: 25%;
        right: -28%;
    }
}

@media screen and (max-width: 600px){
    .slider-inner img.active {
        width: 80%;
        height: 400px;
    }
    .controls{
        bottom: 22%;
    }
    .sub-text{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 250px){
    .sub-text {
        font-size: 13px;
        width: 100vw;
    }

    .slider-inner img.active {
        width: 100vw;
        height: 30vh;
    }
    
}